@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --ui-primary: #c778dd;
  --ui-secondary: #abb2bf;
  --ui-background: #282c33;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--ui-background);
  font-family: "Fira Code", monospace;
  scroll-behavior: smooth;
  overflow-x: -moz-hidden-unscrollable;
}
